<html>
    <head>
        <title>Django Boys blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boys Blog</a></h1>
        </div>

        <div>
            <p>published: 11.07.2019 4:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Yesterday India lost against  the mighty Newzeland.It's not very usual for  a team like India.Peoples of India went crazy after this defeat .Though the people of Bangladesh and Pakistan are really Happy.</p>
        </div>

        <div>
            <p>published: 11.07.2019, 7:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I joined Misfit Technology 1/7/2019.It was just a day to remember you know.When i got the phone call the day before my joining,I was astonished.Thanks to Allah for everything.Now my focus is  to become a  developer to get a solid position in the company.  </p>
        </div>
    </body>
</html